@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Медицинские препараты</h1>    
    <div class="d-flex flex-row flex-nowrap" style="width: 100%; justify-content: space-around; ">
        <a class="btn btn-primary" style="width: 100px; margin: 5px;" href="/Database/Create">Создать структуру данных</a>
        <a class="btn btn-primary" style="width: 100px; margin: 5px;" href="/Database/Import">Загрузить первичные данные</a>
        <a class="btn btn-primary" style="width: 100px; margin: 5px;" href="/Database/Delete">Удалить структуру данных</a>
    </div>
</div>
    


