@{
    ViewData["Title"] = "Тестовое задание";
}
<h1>@ViewData["Title"]</h1>


<ul class="list-group">
    <li class="list-group-item">
        <details>
            <summary>
                <span style="font-size: 22px;">Создание БД для аптеки в MS SQL</span>
            </summary>
            <div style="text-align: justify;">
                На входе используются XML файлы с определенной структурой (см. приложение 1). 
                По этим данным реализовать БД для хранения информации.
            </div>
        </details>
    </li>
    <li class="list-group-item">
        <details>
            <summary>
                <span style="font-size: 22px;">Интерфейс пользователя</span>
            </summary>
            <div style="text-align: justify;">
                <div>- В таблице показать информацию о препаратах на складе с актуальной ценой и кол-вом.</div>
                <div>- Просмотр изменения данных по цене и кол-ву выбранного препарата.</div>
                <div>- Добавить возможность ручного изменения данных о препарате, как цены, так и кол-ва.</div>
            </div>
        </details>
    </li>
    <li class="list-group-item">
        <details>
            <summary>
                <span style="font-size: 22px;">Импорт/Экcпорт</span>
            </summary>
                 
            <div style="text-align: justify;">
                -Выгрузка (прайс-лист=(препарат, цена и остаток)), т.е. 
                на текущий момент в файл вида JSON.</div>            
        </details>
    </li>
    <li class="list-group-item">
        <details>
            <summary>
                <span style="font-size: 22px;">Дополнительно</span>
            </summary>
            <div style="text-align: justify;"> 
                <div>- Сделать возможность для импорта файла данных XML.</div> 
                <div>- Модифицировать вид для просмотра истории изменений добавив туда информацию каким образом было оно внесено (автоматически или ручным).</div>
                <div>- Сделать возможность экспорта прайс-листа с выбором формата XML или JSON</div>
            </div>
        </details>
    </li>
</ul>