@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model System.Boolean
 
@if( Model )
{
    
    <div class="alert alert-info" style="width: 100%"> Структура данных успешно создана</div>
    <div><a href="/Home/Index"> На главную </a></div>
}
else
{


    @inject AppDbContext db
    @if (db.Database.CanConnect())
    {            
        <div class="alert alert-info" style="width: 100%"> Структура данных была создана ранее</div>
        <div><a href="/ProductsDatabase/DeleteDatabase"> Удалить структуру </a></div>
        <div><a href="/ProductsXml/InitXml"> Импорт первичных данных </a></div>
        <div><a href="/ProductsSearch/Index"> На страницу поиска </a></div>
        <div><a href="/Home/Index"> На главную </a></div>
    }
    else
    {
        <div class="alert alert-danger" style="width: 100%"> Не удалось создать структуру данных , необходимо преверить соединение с источником.</div>
        <div><a href="/ProductsDatabase/Config"> Перейти к настройки соединения с источником </a></div>
        <div><a href="/Home/Index"> На главную </a>  </div>
    }  
      

}