@using Mvc_Apteka.Entities
 
@model System.Object
@{
    IEnumerable<ProductInfo> Products = (IEnumerable<ProductInfo>)(Model.GetType().GetProperty("SearchResults").GetValue(Model));
} 
 
<a href="/ProductsSearch" class="btn btn-primary btn-sm">переключить вид</a>
<form style="height: 100%;" action="/Products/Search">
    <table class="table"  style="display: flex; flex-direction: column; flex-wrap: nowrap; position: static; width: 100%; height: 100%;">
        <caption>
            <h3>Медицинские препараты</h3>
        </caption>
        <thead style="position: static; font-weight: bold;"  id="thead">
            <tr style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%;">
                <td colspan="3" style="flex: 12; display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%;">
            
                    <!-- панель инструментов -->
                    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%;">
                        <a class="btn btn-info" href="/Products/Create" style="margin-left: 2px;">создать</a>                        
                        <a class="btn btn-info" href="/ProductsData/Import" style="margin-left: 2px;">импорт</a>
                        <a class="btn btn-info" href="/ProductsData/Export"style="margin-left: 2px;">экспорт</a>
                    </div>

                    <!-- строка поиска -->
                    <div style="margin-left : 10px; width: 100%;">
                        <div class="input-group flex-nowrap" style="width: 100%;">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control" placeholder="поиск" id="searchInput" name="searchInput" value="@(Model.GetType().GetProperty("SearchQuery").GetValue(Model))" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%; ">
                <td colspan="3" style="flex: 12;">
                </td>
            </tr>                                   
            <tr style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%;" class="bg-info text-white"> 
                <td style="flex: 8;">Наименование</td>
                <td style="flex: 2;">Цена</td>
                <td style="flex: 2; width: 140px;">Кол-во</td>
            </tr>
        </thead>
        
        <tbody style="overflow-y: auto; display: flex; flex-direction: column; flex-wrap: nowrap; position: static; width: 100%;">
            @if (Products.Count() > 0)
            {
                @foreach(var product in Products)
                {
                    <tr style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%;"
                        onmouseleave="this.classList.remove('bg-primary'); this.classList.remove('text-white');" 
                        onmouseenter="this.classList.add('bg-primary'); this.classList.add('text-white');"
                        onclick="document.location.href='/Products/Info?ID=@(product.ID)';">          
                        <td style="flex: 8;">@(product.ProductName)</td>
                        <td style="flex: 2;">@(product.ProductPrice)</td>
                        <td style="flex: 2; width: 140px;">@(product.ProductCount)</td>
                    </tr>
                }
            }
            else
            {
                <tr style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%;">
                    <td colspan="3" style="flex: 12;">
                        <div class="alert alert-info" > Нечего не найдено </div>
                    </td>
                </tr>   
            }
            
        </tbody>
 
    </table>
</form>


 